:root {
  ---color-primary: #000000;
  --color-secondary: #ffffff;
  --color-accent: #37373b;

  --text-primary: #ffffff;
  --text-secondary: #96969f;
  --text-inverse: #ffffff;

  --background-primary: #000000;
  --background-secondary: #1a1a1f;
  --background-accent: #37373b;

  --screen-xs: 480px;
  --screen-sm: 768px;
  --screen-md: 1200px;
  --screen-lg: 1440px;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 1rem;
  background-color: var(--background-primary);
  color: var(--text-primary);
}

//typography
.body-text {
  font-size: 13px;
  @media screen and (width: var(--screen-sm)) {
    font-size: 16px;
  }
}
