.product-list-page {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;

  .product-list-header {
    display: flex;
    justify-content: left;
    align-items: left;
    width: 100%;
    max-width: 1200px;
  }
  .product-list-main {
    max-width: 1200px;
    display: flex;

    flex-direction: column;
    gap: 30px;
  }
}
